.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
text-align: center;
  padding: 4px;
  margin: 0;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.customImage{
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

.imageContainer{  display: grid;
 margin-top: 1%;
  gap:1%;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
